#wrapper {
  max-width: 1200px;
}
#header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 1px solid black;
  background-color: #ddd;
}

#Menu .navicon {
  display: none;
  font-size: 2em;
}
#Menu nav {
  float: right;
}
#Menu nav ul {
  padding: 0;
  margin: 0;
}
#Menu nav li {
  float: left;
  list-style-type: none;
  border: 1px solid black;
}
#Menu nav li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background-color: #222;
  color: #ddd;
}
#Menu nav li a:hover {
  background-color: #000;
  color: white;
}
#Menu nav li:last-child {
  margin-right: 10px;
}
.section {
  min-height: 80px;
  overflow: hidden;
  padding-top: 60px;
  /* position: relative; */
  border: 1px solid black;
  background-size: cover;
  background-position: center center;
}

.section h2 {
  background-color: white;
  padding: 5px;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
.section article {
  background-color: rgba(233, 255, 255, 0.7);
}
#home {
  background-image: "https://e0.pxfuel.com/wallpapers/627/591/desktop-wallpaper-better-start-of-a-future-technology-background-portfolio.jpg";
  background-color: aqua;
}
#about {
  background-color: lime;
}
#services {
  background-color: cadetblue;
}
#portfolio {
  background-color: crimson;
}
#contact {
  background-color: gold;
}
